<% content_for :title, "Editing user" %>

<div class="container">
  <h1>Editing user</h1>

  <%= render "form", user: @user %>

  <br>

  <div class="link-container">
    <%= link_to "Show this user", @user, class: "btn btn-link" %> |
    <%= link_to "Back to users", users_path, class: "btn btn-link" %>
  </div>
</div>
